<div class="container">

  <div class="cards">
    <app-card [card]="card" [index]="i + 1" (capturar)="visualizar($event)"
      *ngFor="let card of cards; index as i"></app-card>
  </div>

  <hr />

  <form>
    <div class="form">
      <label>Titulo: <input type="text" name="title" [(ngModel)]="novoCard.title"/></label><br/>
      <label>Descrição: <textarea name="description" [(ngModel)]="novoCard.description"></textarea></label><br/>
      <label>Imagem: <input type="text" name="imageUrl" [(ngModel)]="novoCard.imageUrl"></label><br/>
      <button type="button" (click)="salvar()">Salvar</button>
    </div>
  </form>

</div>
