<div class="container">

  <form>
    <div class="form">
      <label>Nome: <input type="text" name="nome" [(ngModel)]="novoContato.nome"/></label>
      <label>Email: <input type="email" name="email" [(ngModel)]="novoContato.email" /></label>
      <button type="button" (click)="salvarContato()">Salvar</button>
    </div>
  </form>

  <div *ngFor="let contato of contatos">
    <ul>
      <li>{{ contato.nome }} - {{ contato.email }} <a href="#" (click)="removerContato(contato)">excluir</a> </li>
    </ul>
  </div>

  <div class="cards">
    <app-card [cardTitle]="'Xuxu'" [cardDescription]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer turpis felis, luctus eget pharetra eget, efficitur non eros. Proin elementum libero non erat aliquet, in accumsan sapien iaculis. '"></app-card>
    <app-card [cardTitle]="'Pepino'" [cardDescription]="'Phasellus sed sem orci. Suspendisse potenti. Donec posuere sapien leo, imperdiet blandit risus fermentum quis. Aenean dignissim at mi ut vestibulum. '"></app-card>
    <app-card [cardTitle]="'Beterraba'" [cardDescription]="'Quisque non nisi vel ligula iaculis tincidunt. Sed at nulla malesuada, vehicula nisi blandit, laoreet purus. Etiam pulvinar elit at enim dictum sollicitudin.'"></app-card>
  </div>

</div>
