.card {
  margin: 10px 20px 0px 0px;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .14), 0 4px 8px -1px rgba(0, 0, 0, .12);
  height: 20em;
}

.card > .card-title {
  font-size: 27px;
  font-weight: bold;
}

.card .card-description {
  max-width: 360px;
  margin: 0 auto;
  margin-top: 15px;
  user-select: none;
}

.card > .card-image {
  max-height: 10em;
}